<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Category</th>
      <th>Note</th>
      <th>Date Start</th>
      <th>Type</th>
      <th>Hành động</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of events; trackBy: trackById">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.note }}</td>
      <td>{{ item.dateStart }}</td>
      <td>{{ item.type }}</td>
      <td>
        <a class="btn btn-sm btn-warning me-2" [routerLink]="['/update', item.id]">Sửa</a>
        <button class="btn btn-sm btn-danger" (click)="onDelete(item.id)">Xóa</button>
      </td>
    </tr>
    <tr *ngIf="events.length === 0">
      <td colspan="7">Không có sự kiện nào</td>
    </tr>
  </tbody>
</table>
